<div class="panel panel-primary">
        <div class="panel-heading">Mes amis</div>
        <div class="panel-body">

            <div class="media-body">

        
                <div class='row'></div>
                {% if User is empty %}
                    <div class="alert alert-danger" role="alert">Vous n'avez aucun amis encore disponible. </div>      
                {% else %}


                    <div class="row">

                        {% for item in User %}
                            <div class="col-sm-3 col-md-4">
                                <div class="thumbnail">
                                    <img height="130px" width="130px" src="{{asset('uploads/profile/'~item.user.path)}}" alt="image profile">
                                    <div class="caption">
                                        <h3>{{item.user.username}}</h3>
                                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="{{path('delete_friend',{'id':item.user.id})}}" class="btn btn-default" role="button">Supprimer</a></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor%}
                    </div>      

                {% endif%}

            </div>

        </div>
    </div>